<div>
  <%= tag.wa_select(**select_options) do %>
    <%= content %>
    <% @select_options.each do |option| %>
      <%= tag.wa_option(value: option[:value]) do %>
        <%= option[:label] %>
      <% end %>
    <% end %>
  <% end %>
  <% if has_error? %>
    <div class="inline-form-error"><%= error_message %></div>
  <% end %>
</div>
